In [1]:
# Import libraries and set desired options

from __future__ import division, print_function
# Disable Anaconda warnings
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
import os
import pickle
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from scipy.sparse import hstack
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression

##### Approaching the Problem
We will be solving the intruder detection problem analyzing his behavior on the Internet. It is a complicated and interesting problem combining the data analysis and behavioral psychology.

For example: Yandex solves the mailbox intruder detection problem based on the user's behavior patterns. In a nutshell, intruder's behaviour pattern might differ from the owner's one: 
- the breaker might not delete emails right after they are read, as the mailbox owner might do
- the intruder might mark emails and even move the cursor differently
- etc.

So the intruder could be detected and thrown out from the mailbox proposing the owner to be authentificated via SMS-code.
This pilot project is described in the Habrahabr article.

Similar things are being developed in Google Analytics and described in scientific researches. You can find more on this topic by searching "Traversal Pattern Mining" and "Sequential Pattern Mining".

In this competition we are going to solve a similar problem: our algorithm is supposed to analyze the sequence of websites consequently visited by a particular person and to predict whether this person is Alice or an intruder (someone else). As a metric we will use [ROC AUC](https://en.wikipedia.org/wiki/Receiver_operating_characteristic). We will reveal who Alice is at the end of the course.

### 1. Data Downloading and Transformation
Register on [Kaggle](www.kaggle.com), if you have not done it before.
Go to the competition [page](https://inclass.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2) and download the data.

First, read the training and test sets. Then explore the data and perform a couple of simple exercises:

In [2]:
# Read the training and test data sets
PATH_TO_DATA = ('/mnt/Storage/Programming/ml_course/mlcourse_open/jupyter_russian/homeworks/hw6_data')
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'), index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'), index_col='session_id')

# Switch time1, ..., time10 columns to datetime type
times = ['time%s' % i for i in range(1, 11)]
train_df[times] = train_df[times].apply(pd.to_datetime)
test_df[times] = test_df[times].apply(pd.to_datetime)

# Sort the data by time
train_df = train_df.sort_values(by='time1')

# Look at the first rows of the training set
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,NaN,NaT,NaN,NaT,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,NaN,NaT,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0

The training data set contains the following features:

- **site1** â€“ id of the first visited website in the session
- **time1** â€“ visiting time for the first website in the session
- ...
- **site10** â€“ id of the tenth visited website in the session
- **time10** â€“ visiting time for the tenth website in the session
- **target** â€“ target variable, possesses value of 1 for Alice's sessions, and 0 for the other users' sessions
    
User sessions are chosen in the way they are not longer than half an hour or/and contain more than ten websites. I.e. a session is considered as ended either if a user has visited ten websites or if a session has lasted over thirty minutes.

There are some empty values in the table, it means that some sessions contain less than ten websites. Replace empty values with 0 and change columns types to integer. Also load the websites dictionary and check how it looks like:

In [3]:
# Change site1, ..., site10 columns type to integer and fill NA-values with zeros
sites = ['site%s' % i for i in range(1, 11)]
train_df[sites] = train_df[sites].fillna(0).astype('int')
test_df[sites] = test_df[sites].fillna(0).astype('int')

# Load websites dictionary
with open(os.path.join(PATH_TO_DATA, r"site_dic.pkl"), "rb") as input_file:
    site_dict = pickle.load(input_file)

# Create dataframe for the dictionary
sites_dict = pd.DataFrame(list(site_dict.keys()), index=list(site_dict.values()), columns=['site'])
print(u'Websites total:', sites_dict.shape[0])
sites_dict.head()

Websites total: 48371

                                site
41172  d2xx6zcy9l0x7e.cloudfront.net
30101           www.antredesyria.com
3897              fr.clickintext.net
6864        profs.cmaisonneuve.qc.ca
456                  www.lexpress.fr

In [4]:
# Answer
print(test_df.shape, train_df.shape)

(82797, 20) (253561, 21)

In [5]:
# Our target variable
y_train = train_df['target']

# United dataframe of the initial data 
full_df = pd.concat([train_df.drop('target', axis=1), test_df])

# Index to split the training and test data sets
idx_split = train_df.shape[0]

full_df.shape

(336358, 20)

For the very basic model, we will use only the visited websites in the session (but we will not take into account timestamp features). The point behind this data selection is: *Alice has her favorite sites, and the more often you see these sites in the session, the higher probability that this is an Alice's session, and vice versa.*

Let us prepare the data, we will take only features `site1, site2, ... , site10` from the whole dataframe. Keep in mind that the missing values are replaced with zero. Here is how the first rows of the dataframe look like:

In [6]:
# Dataframe with indices of visited websites in session
full_sites = full_df[sites]
full_sites.head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0
54843,56,55,56,55,0,0,0,0,0,0
77292,946,946,951,946,946,945,948,784,949,946
114021,945,948,949,948,945,946,947,945,946,946
146670,947,950,948,947,950,952,946,951,946,947

Sessions are the sequences of website indices, and data in this representation is inconvenient for linear methods. According to our hypothesis (Alice has favorite websites) we need to transform this dataframe so each website has corresponding feature (column) and its value is equal to number of this website visits in the session. It can be done in two lines:

In [7]:
# sequence of indices
sites_flatten = full_sites.values.flatten()

# and the matrix we are looking for
full_sites_sparse = csr_matrix(([1] * sites_flatten.shape[0],
                                sites_flatten,
                                range(0, sites_flatten.shape[0]  + 10, 10)))[:, 1:]

# print(full_sites_sparse[:, :100])

In [8]:
import datetime as dt

times = ['time%s' % i for i in range(1, 11)]
train_df[times] = train_df[times].apply(pd.to_datetime)
test_df[times] = test_df[times].apply(pd.to_datetime)

In [9]:
full_df['hour'] = full_df['time1'].dt.hour
full_df['day'] = full_df['time1'].dt.weekday
full_df['day_of_year'] = full_df['time1'].dt.day
full_df['week'] = full_df['time1'].dt.week
full_df['month'] = full_df['time1'].dt.month
full_df['year'] = full_df['time1'].dt.year - 2012

In [10]:
def get_time_zone(hour):
    if hour >= 7 and hour<10:
        return 1
    elif hour >= 10 and hour<14:
        return 2
    elif hour >= 14 and hour<=23:
        return 3

In [11]:
full_df['time_zone'] = full_df['hour'].apply(get_time_zone)
full_df

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time9,site10,time10,hour,day,day_of_year,week,month,year,time_zone
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55,2013-01-12 08:05:57,0,NaT,0,NaT,0,NaT,...,NaT,0,NaT,8,5,12,2,1,1,1
54843,56,2013-01-12 08:37:23,55,2013-01-12 08:37:23,56,2013-01-12 09:07:07,55,2013-01-12 09:07:09,0,NaT,...,NaT,0,NaT,8,5,12,2,1,1,1
77292,946,2013-01-12 08:50:13,946,2013-01-12 08:50:14,951,2013-01-12 08:50:15,946,2013-01-12 08:50:15,946,2013-01-12 08:50:16,...,2013-01-12 08:50:17,946,2013-01-12 08:50:17,8,5,12,2,1,1,1
114021,945,2013-01-12 08:50:17,948,2013-01-12 08:50:17,949,2013-01-12 08:50:18,948,2013-01-12 08:50:18,945,2013-01-12 08:50:18,...,2013-01-12 08:50:19,946,2013-01-12 08:50:20,8,5,12,2,1,1,1
146670,947,2013-01-12 08:50:20,950,2013-01-12 08:50:20,948,2013-01-12 08:50:20,947,2013-01-12 08:50:21,950,2013-01-12 08:50:21,...,2013-01-12 08:50:22,947,2013-01-12 08:50:22,8,5,12,2,1,1,1
242171,952,2013-01-12 08:50:22,947,2013-01-12 08:50:23,953,2013-01-12 08:50:23,946,2013-01-12 08:50:23,947,2013-01-12 08:50:24,...,2013-01-12 08:50:25,947,2013-01-12 08:50:25,8,5,12,2,1,1,1
57157,953,2013-01-12 08:50:25,947,2013-01-12 08:50:26,946,2013-01-12 08:50:26,953,2013-01-12 08:50:26,955,2013-01-12 08:50:26,...,2013-01-12 08:50:28,1033,2013-01-12 08:50:28,8,5,12,2,1,1,1
240201,946,2013-01-12 08:50:28,947,2013-01-12 08:50:28,954,2013-01-12 08:50:28,953,2013-01-12 08:50:29,946,2013-01-12 08:50:29,...,2013-01-12 08:50:31,956,2013-01-12 08:50:31,8,5,12,2,1,1,1
210686,946,2013-01-12 08:50:31,956,2013-01-12 08:50:32,946,2013-01-12 08:50:32,946,2013-01-12 08:50:33,955,2013-01-12 08:50:33,...,2013-01-12 08:50:36,948,2013-01-12 08:50:36,8,5,12,2,1,1,1
98804,948,2013-01-12 08:50:37,946,2013-01-12 08:50:37,948,2013-01-12 08:50:38,784,2013-01-12 08:50:49,49,2013-01-12 08:50:59,...,2013-01-12 08:51:03,52,2013-01-12 08:51:04,8,5,12,2,1,1,1
113494,52,2013-01-12 08:51:05,52,2013-01-12 08:51:27,52,2013-01-12 08:51:31,747,2013-01-12 08:51:32,747,2013-01-12 08:51:33,...,2013-01-12 08:51:36,23,2013-01-12 08:51:36,8,5,12,2,1,1,1
223837,513,2013-01-12 08:51:36,1116,2013-01-12 08:51:36,747,2013-01-12 08:51:36,23,2013-01-12 08:51:37,747,2013-01-12 08:51:38,...,2013-01-12 08:52:24,21,2013-01-12 08:52:26,8,5,12,2,1,1,1
145475,4222,2013-01-12 08:52:27,3358,2013-01-12 08:52:28,4222,2013-01-12 08:52:28,3356,2013-01-12 08:52:28,4222,2013-01-12 08:52:29,...,2013-01-12 08:52:42,21,2013-01-12 08:53:09,8,5,12,2,1,1,1
186633,38667,2013-01-12 08:53:09,181,2013-01-12 08:53:09,23,2013-01-12 08:53:09,181,2013-01-12 08:53:10,38667,2013-01-12 08:53:10,...,2013-01-12 08:53:11,55,2013-01-12 08:53:25,8,5,12,2,1,1,1
45193,56,2013-01-12 08:53:25,55,2013-01-12 08:53:26,679,2013-01-12 08:54:15,676,2013-01-12 08:54:15,814,2013-01-12 08:54:22,...,2013-01-12 08:54:33,50,2013-01-12 08:54:57,8,5,12,2,1,1,1
102930,570,2013-01-12 08:55:10,23,2013-01-12 08:55:11,21,2013-01-12 08:55:16,3356,2013-01-12 08:55:23,48,2013-01-12 08:56:57,...,2013-01-12 09:11:31,21,2013-01-12 09:14:59,8,5,12,2,1,1,1
15789,820,2013-01-12 08:59:34,820,2013-01-12 08:59:36,980,2013-01-12 08:59:40,49,2013-01-12 09:00:05,56,2013-01-12 09:00:57,...,2013-01-12 09:06:04,50,2013-01-12 09:08:04,8,5,12,2,1,1,1
205868,48,2013-01-12 09:10:04,56,2013-01-12 09:31:21,55,2013-01-12 09:31:21,55,2013-01-12 09:31:22,0,NaT,...,NaT,0,NaT,9,5,12,2,1,1,1
21102,5898,2013-01-12 09:14:59,5898,2013-01-12 09:15:00,5794,2013-01-12 09:15:29,21,2013-01-12 09:15:29,5794,2013-01-12 09:15:30,...,2013-01-12 09:15:38,181,2013-01-12 09:15:38,9,5,12,2,1,1,1
193454,2570,2013-01-12 09:15:38,2570,2013-01-12 09:15:39,21,2013-01-12 09:17:06,21,2013-01-12 09:17:07,1102,2013-01-12 09:17:07,...,2013-01-12 09:19:55,21,2013-01-12 09:19:55,9,5,12,2,1,1,1
252924,22,2013-01-12 09:20:03,39,2013-01-12 09:20:03,1102,2013-01-12 09:20:51,21,2013-01-12 09:20:51,1102,2013-01-12 09:20:52,...,2013-01-12 09:23:31,175,2013-01-12 09:23:32,9,5,12,2,1,1,1
12713,177,2013-01-12 09:23:33,178,2013-01-12 09:23:33,175,2013-01-12 09:23:33,48,2013-01-12 09:23:33,21,2013-01-12 09:23:34,...,2013-01-12 09:24:34,55,2013-01-12 09:25:03,9,5,12,2,1,1,1
182016,56,2013-01-12 09:25:03,55,2013-01-12 09:25:04,570,2013-01-12 09:27:53,570,2013-01-12 09:30:51,1038,2013-01-12 09:39:49,...,2013-01-12 09:47:53,0,NaT,9,5,12,2,1,1,1
55750,56,2013-01-12 09:37:32,55,2013-01-12 09:37:32,0,NaT,0,NaT,0,NaT,...,NaT,0,NaT,9,5,12,2,1,1,1
237109,56,2013-01-12 09:56:03,55,2013-01-12 09:56:03,55,2013-01-12 09:56:04,1038,2013-01-12 10:00:20,52,2013-01-12 10:02:00,...,2013-01-12 10:02:07,4277,2013-01-12 10:02:08,9,5,12,2,1,1,1
120126,4277,2013-01-12 10:02:11,342,2013-01-12 10:02:11,733,2013-01-12 10:02:34,733,2013-01-12 10:02:35,733,2013-01-12 10:02:36,...,2013-01-12 10:02:39,733,2013-01-12 10:02:41,10,5,12,2,1,1,2
140105,733,2013-01-12 10:02:46,49,2013-01-12 10:04:02,17232,2013-01-12 10:04:04,50,2013-01-12 10:04:04,48,2013-01-12 10:04:05,...,2013-01-12 10:05:07,38,2013-01-12 10:05:08,10,5,12,2,1,1,2
129357,753,2013-01-12 10:05:08,532,2013-01-12 10:05:08,1020,2013-01-12 10:05:09,989,2013-01-12 10:05:09,1021,2013-01-12 10:05:09,...,2013-01-12 10:05:25,22,2013-01-12 10:05:31,10,5,12,2,1,1,2
136699,733,2013-01-12 10:05:32,733,2013-01-12 10:05:33,733,2013-01-12 10:05:36,733,2013-01-12 10:05:38,733,2013-01-12 10:05:41,...,2013-01-12 10:06:00,21,2013-01-12 10:06:18,10,5,12,2,1,1,2
113189,38668,2013-01-12 10:06:19,733,2013-01-12 10:06:34,733,2013-01-12 10:06:35,733,2013-01-12 10:06:39,733,2013-01-12 10:06:40,...,2013-01-12 10:07:25,52,2013-01-12 10:07:25,10,5,12,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82768,1202,2014-05-16 15:46:49,1202,2014-05-16 15:46:51,1202,2014-05-16 15:47:37,1202,2014-05-16 15:47:38,302,2014-05-16 15:47:48,...,2014-05-16 15:47:49,1221,2014-05-16 15:47:49,15,4,16,20,5,2,3
82769,883,2014-10-02 13:29:11,884,2014-10-02 13:29:11,5256,2014-10-02 13:29:11,5260,2014-10-02 13:29:12,0,NaT,...,NaT,0,NaT,13,3,2,40,10,2,2
82770,678,2014-05-28 17:01:59,775,2014-05-28 17:02:12,678,2014-05-28 17:02:53,775,2014-05-28 17:03:04,678,2014-05-28 17:03:44,...,2014-05-28 17:05:32,775,2014-05-28 17:05:48,17,2,28,22,5,2,3
82771,23695,2014-11-02 10:51:02,23695,2014-11-02 10:51:04,23695,2014-11-02 10:51:06,23695,2014-11-02 10:51:11,23695,2014-11-02 10:51:13,...,2014-11-02 10:51:22,23695,2014-11-02 10:51:24,10,6,2,44,11,2,2
82772,33,2014-06-01 14:05:35,5392,2014-06-01 14:05:35,35,2014-06-01 14:05:35,5392,2014-06-01 14:05:37,5403,2014-06-01 14:05:38,...,2014-06-01 14:05:41,22,2014-06-01 14:05:41,14,6,1,22,6,2,3
82773,270,2014-06-02 15:53:01,167,2014-06-02 15:53:02,167,2014-06-02 15:53:03,812,2014-06-02 15:53:03,167,2014-06-02 15:53:04,...,2014-06-02 15:53:06,270,2014-06-02 15:53:09,15,0,2,23,6,2,3
82774,1102,2014-10-02 08:34:05,21,2014-10-02 08:36:02,22,2014-10-02 08:36:14,39,2014-10-02 08:36:15,5563,2014-10-02 08:38:12,...,2014-10-02 08:46:27,18996,2014-10-02 08:48:12,8,3,2,40,10,2,1
82775,3393,2014-07-03 10:47:05,3393,2014-07-03 10:47:07,3393,2014-07-03 10:47:08,335,2014-07-03 10:47:10,29,2014-07-03 10:47:12,...,2014-07-03 10:47:34,37,2014-07-03 10:47:42,10,3,3,27,7,2,2
82776,122,2014-05-03 09:33:35,134,2014-05-03 09:33:36,134,2014-05-03 09:33:37,132,2014-05-03 09:33:37,2428,2014-05-03 09:33:46,...,2014-05-03 09:33:55,29,2014-05-03 09:33:57,9,5,3,18,5,2,1
82777,301,2014-05-22 10:22:08,48,2014-05-22 10:22:08,76,2014-05-22 10:22:09,32,2014-05-22 10:22:09,29,2014-05-22 10:22:09,...,2014-05-22 10:22:12,301,2014-05-22 10:22:13,10,3,22,21,5,2,2
82778,1086,2014-06-01 15:59:21,1086,2014-06-01 15:59:23,1086,2014-06-01 15:59:25,269,2014-06-01 15:59:59,1086,2014-06-01 16:01:18,...,2014-06-01 16:03:46,29,2014-06-01 16:03:46,15,6,1,22,6,2,3
82779,300,2014-05-19 14:09:38,300,2014-05-19 14:09:41,302,2014-05-19 14:09:51,302,2014-05-19 14:09:52,302,2014-05-19 14:09:53,...,2014-05-19 14:09:56,300,2014-05-19 14:09:56,14,0,19,21,5,2,3
82780,66,2014-07-05 08:34:08,63,2014-07-05 08:34:08,21,2014-07-05 08:34:15,21,2014-07-05 08:34:16,23,2014-07-05 08:34:18,...,2014-07-05 08:34:31,21,2014-07-05 08:34:33,8,5,5,27,7,2,1
82781,3996,2014-07-04 17:05:53,3413,2014-07-04 17:05:53,3996,2014-07-04 17:05:54,3605,2014-07-04 17:05:54,3324,2014-07-04 17:05:54,...,2014-07-04 17:05:55,3606,2014-07-04 17:05:56,17,4,4,27,7,2,3
82782,32,2014-08-02 10:11:06,30,2014-08-02 10:11:06,33,2014-08-02 10:11:07,44651,2014-08-02 10:11:07,22,2014-08-02 10:11:07,...,2014-08-02 10:11:18,44651,2014-08-02 10:11:24,10,5,2,31,8,2,2
82783,747,2014-05-25 16:43:32,38,2014-05-25 16:43:32,23,2014-05-25 16:43:33,513,2014-05-25 16:43:33,747,2014-05-25 16:43:33,...,2014-05-25 16:43:35,52,2014-05-25 16:43:35,16,6,25,21,5,2,3
82784,5598,2014-05-02 11:03:37,5598,2014-05-02 11:03:38,5598,2014-05-02 11:03:39,5598,2014-05-02 11:03:40,5598,2014-05-02 11:03:41,...,2014-05-02 11:03:56,5598,2014-05-02 11:03:57,11,4,2,18,5,2,2
82785,22,2014-06-02 12:25:22,814,2014-06-02 12:25:22,570,2014-06-02 12:25:22,812,2014-06-02 12:25:22,23,2014-06-02 12:25:22,...,2014-06-02 12:25:23,1039,2014-06-02 12:25:23,12,0,2,23,6,2,2
82786,786,2014-07-04 10:38:09,786,2014-07-04 10:38:13,782,2014-07-04 10:38:31,786,2014-07-04 10:38:32,782,2014-07-04 10:38:37,...,2014-07-04 10:39:07,23,2014-07-04 10:39:08,10,4,4,27,7,2,2
82787,6801,2014-11-02 08:44:53,6801,2014-11-02 08:45:05,22,2014-11-02 08:45:08,23,2014-11-02 08:45:08,812,2014-11-02 08:45:12,...,2014-11-02 08:45:26,6801,2014-11-02 08:45:26,8,6,2,44,11,2,1
82788,69,2014-12-05 12:10:09,67,2014-12-05 12:10:09,301,2014-12-05 12:10:28,301,2014-12-05 12:10:37,21,2014-12-05 12:10:49,...,2014-12-05 12:11:23,22,2014-12-05 12:11:23,12,4,5,49,12,2,2
82789,30,2014-08-04 17:03:46,19394,2014-08-04 17:03:46,33,2014-08-04 17:03:46,19386,2014-08-04 17:03:46,19396,2014-08-04 17:03:46,...,2014-08-04 17:03:48,22,2014-08-04 17:03:48,17,0,4,32,8,2,3
82790,167,2014-10-02 13:32:46,359,2014-10-02 13:32:46,167,2014-10-02 13:32:47,204,2014-10-02 13:32:47,3,2014-10-02 13:32:47,...,2014-10-02 13:32:48,883,2014-10-02 13:32:48,13,3,2,40,10,2,2
82791,677,2014-05-03 15:59:57,774,2014-05-03 16:05:02,677,2014-05-03 16:05:52,616,2014-05-03 16:06:59,570,2014-05-03 16:08:52,...,2014-05-03 16:18:04,677,2014-05-03 16:23:53,15,5,3,18,5,2,3
82792,63,2014-05-27 12:37:09,3346,2014-05-27 12:40:43,167,2014-05-27 12:41:04,3,2014-05-27 12:41:12,167,2014-05-27 12:41:14,...,2014-05-27 12:41:31,3346,2014-05-27 12:41:43,12,1,27,22,5,2,2
82793,812,2014-10-02 18:20:09,1039,2014-10-02 18:20:09,676,2014-10-02 18:20:09,0,NaT,0,NaT,...,NaT,0,NaT,18,3,2,40,10,2,3
82794,300,2014-05-26 14:16:40,302,2014-05-26 14:16:41,302,2014-05-26 14:16:44,300,2014-05-26 14:16:44,300,2014-05-26 14:17:19,...,2014-05-26 14:17:19,1216,2014-05-26 14:17:19,14,0,26,22,5,2,3
82795,29,2014-05-02 11:21:56,33,2014-05-02 11:21:56,35,2014-05-02 11:21:56,22,2014-05-02 11:22:03,37,2014-05-02 11:22:03,...,2014-05-02 11:22:04,6780,2014-05-02 11:22:04,11,4,2,18,5,2,2
82796,5828,2014-05-03 10:05:25,23,2014-05-03 10:05:27,21,2014-05-03 10:05:27,804,2014-05-03 10:05:27,21,2014-05-03 10:05:36,...,2014-05-03 10:05:38,961,2014-05-03 10:05:38,10,5,3,18,5,2,2
82797,21,2014-11-02 10:46:57,1098,2014-11-02 10:46:57,1098,2014-11-02 10:46:58,1098,2014-11-02 10:47:12,1098,2014-11-02 10:47:13,...,2014-11-02 10:47:42,1098,2014-11-02 10:47:47,10,6,2,44,11,2,2

In [13]:
from collections import Counter
def get_number_of_duplicates(row):
    counter_dict = dict(Counter(row.tolist()))
    counter_dict = {k:v for k,v in counter_dict.items() if k!=0}
    max_duplicates = max(counter_dict.values())
    return max_duplicates

def get_mean_time_between_sites(row):
    timedeltas = []
    time_1 = row[row.index[1]]
    
    for col in row.index[1:]:
        time_2 = row[col]
        if not (type(time_2) is pd._libs.tslib.NaTType):
            timedeltas.append((time_2 - time_1).seconds)
            time_1 = row[col]
        else:
            continue
    if len(timedeltas) == 0:
        return 0
    return sum(timedeltas)/len(timedeltas)


def get_mean_time_between_duplicates(row):
    sites = {}
    for i in range(1,11):
        site = row['site{}'.format(str(i))]
        time = row['time{}'.format(str(i))]
        if site==0:
            break
        if not sites.get(site):
            sites[site] = time
        else:
            sites[site] = (time - sites[site])
    times = [value.seconds for value in sites.values() if type(value) is pd._libs.tslib.Timedelta] 
    return pd.Series(times).mean()

In [28]:
# full_df['mean_time_between_duplicates'] = full_df.apply(get_mean_time_between_duplicates, axis=1)
# full_df['max_duplicates'] = full_df[sites].apply(get_number_of_duplicates, axis=1)

In [14]:
full_df['mean_time_between_sessions'] = full_df[times].apply(get_mean_time_between_sites, axis=1)

In [37]:
full_df

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,site10,time10,hour,day,week,month,year,time_zone,max_duplicates,mean_time_between_sessions
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55,2013-01-12 08:05:57,0,NaT,0,NaT,0,NaT,...,0,NaT,8,5,2,1,1,1,1,0.000000
54843,56,2013-01-12 08:37:23,55,2013-01-12 08:37:23,56,2013-01-12 09:07:07,55,2013-01-12 09:07:09,0,NaT,...,0,NaT,8,5,2,1,1,1,2,595.333333
77292,946,2013-01-12 08:50:13,946,2013-01-12 08:50:14,951,2013-01-12 08:50:15,946,2013-01-12 08:50:15,946,2013-01-12 08:50:16,...,946,2013-01-12 08:50:17,8,5,2,1,1,1,5,0.333333
114021,945,2013-01-12 08:50:17,948,2013-01-12 08:50:17,949,2013-01-12 08:50:18,948,2013-01-12 08:50:18,945,2013-01-12 08:50:18,...,946,2013-01-12 08:50:20,8,5,2,1,1,1,3,0.333333
146670,947,2013-01-12 08:50:20,950,2013-01-12 08:50:20,948,2013-01-12 08:50:20,947,2013-01-12 08:50:21,950,2013-01-12 08:50:21,...,947,2013-01-12 08:50:22,8,5,2,1,1,1,3,0.222222
242171,952,2013-01-12 08:50:22,947,2013-01-12 08:50:23,953,2013-01-12 08:50:23,946,2013-01-12 08:50:23,947,2013-01-12 08:50:24,...,947,2013-01-12 08:50:25,8,5,2,1,1,1,3,0.222222
57157,953,2013-01-12 08:50:25,947,2013-01-12 08:50:26,946,2013-01-12 08:50:26,953,2013-01-12 08:50:26,955,2013-01-12 08:50:26,...,1033,2013-01-12 08:50:28,8,5,2,1,1,1,4,0.222222
240201,946,2013-01-12 08:50:28,947,2013-01-12 08:50:28,954,2013-01-12 08:50:28,953,2013-01-12 08:50:29,946,2013-01-12 08:50:29,...,956,2013-01-12 08:50:31,8,5,2,1,1,1,3,0.333333
210686,946,2013-01-12 08:50:31,956,2013-01-12 08:50:32,946,2013-01-12 08:50:32,946,2013-01-12 08:50:33,955,2013-01-12 08:50:33,...,948,2013-01-12 08:50:36,8,5,2,1,1,1,6,0.444444
98804,948,2013-01-12 08:50:37,946,2013-01-12 08:50:37,948,2013-01-12 08:50:38,784,2013-01-12 08:50:49,49,2013-01-12 08:50:59,...,52,2013-01-12 08:51:04,8,5,2,1,1,1,2,3.000000
113494,52,2013-01-12 08:51:05,52,2013-01-12 08:51:27,52,2013-01-12 08:51:31,747,2013-01-12 08:51:32,747,2013-01-12 08:51:33,...,23,2013-01-12 08:51:36,8,5,2,1,1,1,4,1.000000
223837,513,2013-01-12 08:51:36,1116,2013-01-12 08:51:36,747,2013-01-12 08:51:36,23,2013-01-12 08:51:37,747,2013-01-12 08:51:38,...,21,2013-01-12 08:52:26,8,5,2,1,1,1,3,5.555556
145475,4222,2013-01-12 08:52:27,3358,2013-01-12 08:52:28,4222,2013-01-12 08:52:28,3356,2013-01-12 08:52:28,4222,2013-01-12 08:52:29,...,21,2013-01-12 08:53:09,8,5,2,1,1,1,3,4.555556
186633,38667,2013-01-12 08:53:09,181,2013-01-12 08:53:09,23,2013-01-12 08:53:09,181,2013-01-12 08:53:10,38667,2013-01-12 08:53:10,...,55,2013-01-12 08:53:25,8,5,2,1,1,1,3,1.777778
45193,56,2013-01-12 08:53:25,55,2013-01-12 08:53:26,679,2013-01-12 08:54:15,676,2013-01-12 08:54:15,814,2013-01-12 08:54:22,...,50,2013-01-12 08:54:57,8,5,2,1,1,1,1,10.111111
102930,570,2013-01-12 08:55:10,23,2013-01-12 08:55:11,21,2013-01-12 08:55:16,3356,2013-01-12 08:55:23,48,2013-01-12 08:56:57,...,21,2013-01-12 09:14:59,8,5,2,1,1,1,2,132.000000
15789,820,2013-01-12 08:59:34,820,2013-01-12 08:59:36,980,2013-01-12 08:59:40,49,2013-01-12 09:00:05,56,2013-01-12 09:00:57,...,50,2013-01-12 09:08:04,8,5,2,1,1,1,2,56.444444
205868,48,2013-01-12 09:10:04,56,2013-01-12 09:31:21,55,2013-01-12 09:31:21,55,2013-01-12 09:31:22,0,NaT,...,0,NaT,9,5,2,1,1,1,2,0.333333
21102,5898,2013-01-12 09:14:59,5898,2013-01-12 09:15:00,5794,2013-01-12 09:15:29,21,2013-01-12 09:15:29,5794,2013-01-12 09:15:30,...,181,2013-01-12 09:15:38,9,5,2,1,1,1,3,4.222222
193454,2570,2013-01-12 09:15:38,2570,2013-01-12 09:15:39,21,2013-01-12 09:17:06,21,2013-01-12 09:17:07,1102,2013-01-12 09:17:07,...,21,2013-01-12 09:19:55,9,5,2,1,1,1,3,28.444444
252924,22,2013-01-12 09:20:03,39,2013-01-12 09:20:03,1102,2013-01-12 09:20:51,21,2013-01-12 09:20:51,1102,2013-01-12 09:20:52,...,175,2013-01-12 09:23:32,9,5,2,1,1,1,4,23.222222
12713,177,2013-01-12 09:23:33,178,2013-01-12 09:23:33,175,2013-01-12 09:23:33,48,2013-01-12 09:23:33,21,2013-01-12 09:23:34,...,55,2013-01-12 09:25:03,9,5,2,1,1,1,2,10.000000
182016,56,2013-01-12 09:25:03,55,2013-01-12 09:25:04,570,2013-01-12 09:27:53,570,2013-01-12 09:30:51,1038,2013-01-12 09:39:49,...,0,NaT,9,5,2,1,1,1,3,171.125000
55750,56,2013-01-12 09:37:32,55,2013-01-12 09:37:32,0,NaT,0,NaT,0,NaT,...,0,NaT,9,5,2,1,1,1,1,0.000000
237109,56,2013-01-12 09:56:03,55,2013-01-12 09:56:03,55,2013-01-12 09:56:04,1038,2013-01-12 10:00:20,52,2013-01-12 10:02:00,...,4277,2013-01-12 10:02:08,9,5,2,1,1,1,2,40.555556
120126,4277,2013-01-12 10:02:11,342,2013-01-12 10:02:11,733,2013-01-12 10:02:34,733,2013-01-12 10:02:35,733,2013-01-12 10:02:36,...,733,2013-01-12 10:02:41,10,5,2,1,1,2,7,3.333333
140105,733,2013-01-12 10:02:46,49,2013-01-12 10:04:02,17232,2013-01-12 10:04:04,50,2013-01-12 10:04:04,48,2013-01-12 10:04:05,...,38,2013-01-12 10:05:08,10,5,2,1,1,2,1,7.333333
129357,753,2013-01-12 10:05:08,532,2013-01-12 10:05:08,1020,2013-01-12 10:05:09,989,2013-01-12 10:05:09,1021,2013-01-12 10:05:09,...,22,2013-01-12 10:05:31,10,5,2,1,1,2,2,2.555556
136699,733,2013-01-12 10:05:32,733,2013-01-12 10:05:33,733,2013-01-12 10:05:36,733,2013-01-12 10:05:38,733,2013-01-12 10:05:41,...,21,2013-01-12 10:06:18,10,5,2,1,1,2,6,5.000000
113189,38668,2013-01-12 10:06:19,733,2013-01-12 10:06:34,733,2013-01-12 10:06:35,733,2013-01-12 10:06:39,733,2013-01-12 10:06:40,...,52,2013-01-12 10:07:25,10,5,2,1,1,2,5,5.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82768,1202,2014-05-16 15:46:49,1202,2014-05-16 15:46:51,1202,2014-05-16 15:47:37,1202,2014-05-16 15:47:38,302,2014-05-16 15:47:48,...,1221,2014-05-16 15:47:49,15,4,20,5,2,3,4,6.444444
82769,883,2014-10-02 13:29:11,884,2014-10-02 13:29:11,5256,2014-10-02 13:29:11,5260,2014-10-02 13:29:12,0,NaT,...,0,NaT,13,3,40,10,2,2,1,0.333333
82770,678,2014-05-28 17:01:59,775,2014-05-28 17:02:12,678,2014-05-28 17:02:53,775,2014-05-28 17:03:04,678,2014-05-28 17:03:44,...,775,2014-05-28 17:05:48,17,2,22,5,2,3,5,24.000000
82771,23695,2014-11-02 10:51:02,23695,2014-11-02 10:51:04,23695,2014-11-02 10:51:06,23695,2014-11-02 10:51:11,23695,2014-11-02 10:51:13,...,23695,2014-11-02 10:51:24,10,6,44,11,2,2,10,2.222222
82772,33,2014-06-01 14:05:35,5392,2014-06-01 14:05:35,35,2014-06-01 14:05:35,5392,2014-06-01 14:05:37,5403,2014-06-01 14:05:38,...,22,2014-06-01 14:05:41,14,6,22,6,2,3,3,0.666667
82773,270,2014-06-02 15:53:01,167,2014-06-02 15:53:02,167,2014-06-02 15:53:03,812,2014-06-02 15:53:03,167,2014-06-02 15:53:04,...,270,2014-06-02 15:53:09,15,0,23,6,2,3,3,0.777778
82774,1102,2014-10-02 08:34:05,21,2014-10-02 08:36:02,22,2014-10-02 08:36:14,39,2014-10-02 08:36:15,5563,2014-10-02 08:38:12,...,18996,2014-10-02 08:48:12,8,3,40,10,2,1,2,81.111111
82775,3393,2014-07-03 10:47:05,3393,2014-07-03 10:47:07,3393,2014-07-03 10:47:08,335,2014-07-03 10:47:10,29,2014-07-03 10:47:12,...,37,2014-07-03 10:47:42,10,3,27,7,2,2,3,3.888889
82776,122,2014-05-03 09:33:35,134,2014-05-03 09:33:36,134,2014-05-03 09:33:37,132,2014-05-03 09:33:37,2428,2014-05-03 09:33:46,...,29,2014-05-03 09:33:57,9,5,18,5,2,1,2,2.333333
82777,301,2014-05-22 10:22:08,48,2014-05-22 10:22:08,76,2014-05-22 10:22:09,32,2014-05-22 10:22:09,29,2014-05-22 10:22:09,...,301,2014-05-22 10:22:13,10,3,21,5,2,2,3,0.555556
82778,1086,2014-06-01 15:59:21,1086,2014-06-01 15:59:23,1086,2014-06-01 15:59:25,269,2014-06-01 15:59:59,1086,2014-06-01 16:01:18,...,29,2014-06-01 16:03:46,15,6,22,6,2,3,4,29.222222
82779,300,2014-05-19 14:09:38,300,2014-05-19 14:09:41,302,2014-05-19 14:09:51,302,2014-05-19 14:09:52,302,2014-05-19 14:09:53,...,300,2014-05-19 14:09:56,14,0,21,5,2,3,5,1.666667
82780,66,2014-07-05 08:34:08,63,2014-07-05 08:34:08,21,2014-07-05 08:34:15,21,2014-07-05 08:34:16,23,2014-07-05 08:34:18,...,21,2014-07-05 08:34:33,8,5,27,7,2,1,5,2.777778
82781,3996,2014-07-04 17:05:53,3413,2014-07-04 17:05:53,3996,2014-07-04 17:05:54,3605,2014-07-04 17:05:54,3324,2014-07-04 17:05:54,...,3606,2014-07-04 17:05:56,17,4,27,7,2,3,3,0.333333
82782,32,2014-08-02 10:11:06,30,2014-08-02 10:11:06,33,2014-08-02 10:11:07,44651,2014-08-02 10:11:07,22,2014-08-02 10:11:07,...,44651,2014-08-02 10:11:24,10,5,31,8,2,2,4,2.000000
82783,747,2014-05-25 16:43:32,38,2014-05-25 16:43:32,23,2014-05-25 16:43:33,513,2014-05-25 16:43:33,747,2014-05-25 16:43:33,...,52,2014-05-25 16:43:35,16,6,21,5,2,3,4,0.333333
82784,5598,2014-05-02 11:03:37,5598,2014-05-02 11:03:38,5598,2014-05-02 11:03:39,5598,2014-05-02 11:03:40,5598,2014-05-02 11:03:41,...,5598,2014-05-02 11:03:57,11,4,18,5,2,2,9,2.111111
82785,22,2014-06-02 12:25:22,814,2014-06-02 12:25:22,570,2014-06-02 12:25:22,812,2014-06-02 12:25:22,23,2014-06-02 12:25:22,...,1039,2014-06-02 12:25:23,12,0,23,6,2,2,2,0.111111
82786,786,2014-07-04 10:38:09,786,2014-07-04 10:38:13,782,2014-07-04 10:38:31,786,2014-07-04 10:38:32,782,2014-07-04 10:38:37,...,23,2014-07-04 10:39:08,10,4,27,7,2,2,5,6.111111
82787,6801,2014-11-02 08:44:53,6801,2014-11-02 08:45:05,22,2014-11-02 08:45:08,23,2014-11-02 08:45:08,812,2014-11-02 08:45:12,...,6801,2014-11-02 08:45:26,8,6,44,11,2,1,5,2.333333
82788,69,2014-12-05 12:10:09,67,2014-12-05 12:10:09,301,2014-12-05 12:10:28,301,2014-12-05 12:10:37,21,2014-12-05 12:10:49,...,22,2014-12-05 12:11:23,12,4,49,12,2,2,5,8.222222
82789,30,2014-08-04 17:03:46,19394,2014-08-04 17:03:46,33,2014-08-04 17:03:46,19386,2014-08-04 17:03:46,19396,2014-08-04 17:03:46,...,22,2014-08-04 17:03:48,17,0,32,8,2,3,3,0.222222
82790,167,2014-10-02 13:32:46,359,2014-10-02 13:32:46,167,2014-10-02 13:32:47,204,2014-10-02 13:32:47,3,2014-10-02 13:32:47,...,883,2014-10-02 13:32:48,13,3,40,10,2,2,2,0.222222
82791,677,2014-05-03 15:59:57,774,2014-05-03 16:05:02,677,2014-05-03 16:05:52,616,2014-05-03 16:06:59,570,2014-05-03 16:08:52,...,677,2014-05-03 16:23:53,15,5,18,5,2,3,5,125.666667
82792,63,2014-05-27 12:37:09,3346,2014-05-27 12:40:43,167,2014-05-27 12:41:04,3,2014-05-27 12:41:12,167,2014-05-27 12:41:14,...,3346,2014-05-27 12:41:43,12,1,22,5,2,2,2,6.666667
82793,812,2014-10-02 18:20:09,1039,2014-10-02 18:20:09,676,2014-10-02 18:20:09,0,NaT,0,NaT,...,0,NaT,18,3,40,10,2,3,1,0.000000
82794,300,2014-05-26 14:16:40,302,2014-05-26 14:16:41,302,2014-05-26 14:16:44,300,2014-05-26 14:16:44,300,2014-05-26 14:17:19,...,1216,2014-05-26 14:17:19,14,0,22,5,2,3,3,4.222222
82795,29,2014-05-02 11:21:56,33,2014-05-02 11:21:56,35,2014-05-02 11:21:56,22,2014-05-02 11:22:03,37,2014-05-02 11:22:03,...,6780,2014-05-02 11:22:04,11,4,18,5,2,2,1,0.888889
82796,5828,2014-05-03 10:05:25,23,2014-05-03 10:05:27,21,2014-05-03 10:05:27,804,2014-05-03 10:05:27,21,2014-05-03 10:05:36,...,961,2014-05-03 10:05:38,10,5,18,5,2,2,3,1.222222
82797,21,2014-11-02 10:46:57,1098,2014-11-02 10:46:57,1098,2014-11-02 10:46:58,1098,2014-11-02 10:47:12,1098,2014-11-02 10:47:13,...,1098,2014-11-02 10:47:47,10,6,44,11,2,2,9,5.555556

In [16]:
time_zone_dummies = pd.get_dummies(full_df['time_zone'], prefix='time_zone')
hour_dummies = pd.get_dummies(full_df['hour'], prefix='hour')
day_dummies = pd.get_dummies(full_df['day'], prefix='day')
week_dummies = pd.get_dummies(full_df['week'], prefix='week')
month_dummies = pd.get_dummies(full_df['month'], prefix='month')
year_dummies = pd.get_dummies(full_df['year'], prefix='year')
day_of_year_dummies = pd.get_dummies(full_df['day_of_year'], prefix='day_of_year')
# max_duplicates_dummies = pd.get_dummies(full_df['max_duplicates'], prefix='max_duplicates')

In [34]:
full_sparse = csr_matrix(hstack([full_sites_sparse, week_dummies, day_dummies, hour_dummies]))
print(full_sparse.shape)

(336358, 48437)

### 3. Training the first model

So, we have an algorithm and data for it. Let us build our first model, using [logistic regression](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) implementation from ` Sklearn` with default parameters. We will use the first 90% of the data for training (the training data set is sorted by time), and the remaining 10% for validation. Let's write a simple function that returns the quality of the model and then train our first classifier:

In [35]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold
def get_auc_lr_valid(X, y, C=1.0, seed=np.random.randint(100), ratio = 0.9):
    # Split the data into the training and validation sets
    idx = int(round(X.shape[0] * ratio))
    # Classifier training
#     lr = LogisticRegression(C=C, random_state=seed, n_jobs=-1).fit(X[:idx, :], y[:idx])
    lr = LogisticRegression(random_state=seed, n_jobs=-1)
    logit_pipe_params = {'C': np.logspace(-4, 4, 9)}
    logit_pipe_grid_search = GridSearchCV(lr, logit_pipe_params, n_jobs=-1, scoring ='roc_auc')
    logit_pipe_grid_search.fit(X[:idx, :], y[:idx])
    # Prediction for validation set
    y_pred = logit_pipe_grid_search.predict_proba(X[idx:, :])[:, 1]
    print(logit_pipe_grid_search.best_params_)
    # Calculate the quality
    score = roc_auc_score(y[idx:], y_pred)
    
    return score

In [ ]:
%%time
# Select the training set from the united dataframe (where we have the answers)
X_train = full_sparse[:idx_split, :]
print(X_train.shape)

# Calculate metric on the validation set
print(get_auc_lr_valid(X_train, y_train))

(253561, 48437)

The first model demonstrated the quality  of 0.91952 on the validation set. Let's take it as the first baseline and starting point. To make a prediction on the test data set ** we need to train the model again on the entire training data set ** (until this moment, our model used only part of the data for training), which will increase its generalizing ability:

In [32]:
# Function for writing predictions to a file
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [33]:
# Train the model on the whole training data set
# Use random_state=17 for repeatability
# Parameter C=1 by default, but here we set it explicitly
lr = LogisticRegression(C=0.1, random_state=17).fit(X_train, y_train)

# Make a prediction for test data set
X_test = full_sparse[idx_split:,:]
y_test = lr.predict_proba(X_test)[:, 1]

# Write it to the file which could be submitted
name = '5'
write_to_submission_file(y_test, '/mnt/Storage/Programming/ml_course/mlcourse_open/jupyter_russian/homeworks/submisions/alice/%s.csv' % name)